/* Reset CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}


/* General Styling */
:root{
    --dark-cyan:hsl(158, 36%, 37%);
    --darker-cyan: hsl(158, 36%, 17%);
    --cream:hsl(30, 38%, 92%);
    --very-dark-blue:hsl(212, 21%, 14%);
    --dark-grayish-blue:hsl(0, 0%, 100%);
    --white: hsl(0, 0%, 100%);  
    --fraunces: "Fraunces", serif;
    --montserrat: "Montserrat", sans-serif;;  
}

body{
    background-color: var(--cream);
    font-size: 1rem;

    display: grid;
    place-content: center;
    margin: 1rem;
}


.product{
  --content-padding: 1.5rem;
  --content-spacing: 1rem;

  display: grid;
  border-radius: 0.5rem;
  max-width: 600px;
  font-family: var(--fraunces);
  background-color: var(--white);

}

@media(min-width: 600px){
  .product{
    --content-padding: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

picture > img{
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media(min-width: 600px){
  picture > img{
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }
}

.product-description{
  padding: var(--content-padding);
  display: grid;
  gap: var(--content-spacing);
}


.product__category{
  letter-spacing: 0.5rem;
}

.product__price{
  font-family: var(--montserrat);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product__new-price{
  font-size: 1.8rem;
  color: var(--dark-cyan);
}

.product__title{
  font-family: var(--montserrat);
  font-size: 2rem;
}

.product__description{
  opacity: 0.5;
  line-height: 1.5rem;
}

.product__old-price{
  text-decoration: line-through;
}

button{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  color: var(--white);
  background-color: var(--dark-cyan);
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

button:hover, button:focus{
  background-color: var(--darker-cyan);
}


